<ul>
    <% @cart_items_array.each do |cart_item| %>
        <li> product: <%= cart_item["title"] %>, quantity: <%= cart_item["quantity"]%>, price: <%= cart_item["price"]%>, total: <%= cart_item["price"] * cart_item["quantity"]%> </li>    
    <%  end %> 
</ul>

<h4>Grand total: <%= @grand_total%></h4>

<p> Use coupon code "10OFF", "20OFF", "30OFF" ... "90OFF" to avail respective discounts.</p>

<div>
    <%= form_with url: "/orders", method: :post do |form| %>
    <%= form.label :coupon, "Coupon code:" %>
    <%= form.text_field :coupon %>
    <br>
    <%= form.submit "Purchase" %>
    <% end %>
</div>
