<h1>Products 
<!--<a href="/cart">visit cart</a> <a href="/orders">past orders</a>
  <% if session[:user_id]%>
    <a href="/logout">logout</a>
  <% else %>
    <a href="/login">login</a>
  <% end %>-->
</h1>

<!--
<ul>
  <% @products.each do |product| %>
    <a href="/products/<%= product.id %>">
        <li>
          <%= product.title %>
        </li>
    </a>
  <% end %>
</ul>
-->


<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <a href="/products/<%= product.id %>">
          
          <img src="<%= product.image %>" width="150" height="150">
          
          <h5><%= product.title %></h5>
        </a>
      </div>
    <% end %>
  </div>
</div>

