<!DOCTYPE html>
<html>
  <head>
    <title>Amazonecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="login-header">
      Amazon
      <% if session[:type] == "customer" || !session[:user_id]%>
        <a href="/products">products</a> <a href="/cart">visit cart</a> <a href="/orders">past orders</a>
      <% end %>
      <% if session[:user_id]%>
        <a href="/logout">logout</a>
      <% else %>
        <a href="/login">login</a>
      <% end %>
    </div>  
    <div class="main">
      <%= yield %>
    </div>
    <div>
      <p> <%= session[:redirect]%> </p>
      <p> <%= session[:redirect_url]%></p>
    </div>
  </body>
</html>
